@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@200;300;400&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

.main-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fas {
  color: #053742;
}

/* for mobile */

.location {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin-top: 2rem;
  
  margin-left: -7rem;
}


.title {
  margin-top: 0.25rem;
  font-family: 'Poppins', sans-serif;
}


.Date {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-left: -5rem;
  
  
}

.blue-div {
  height: 12rem;
  width: 20rem;
  background-color: #A2DBFA;
  border-color: #A2DBFA;
  margin-top: 1rem;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);

}

.icon {
  

  width: 7rem;
  margin-left: 1rem;
  margin-top: 1rem;
  

}

.temp {
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
  color: #053742;
  font-size: 55px;
  margin-left: 12rem;
  margin-top: -7rem;
}

.max-and-min-temp {
  margin-left: 10.5rem;
  
}

.max-temp {
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  margin-left: 0.25rem;
}

.min-temp {
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  margin-left: 0.25rem;
}

.fa-arrow-down {
  margin-left: 1rem;
}

.condition {

  font-family: 'Poppins', sans-serif;
  margin-left: 2.5rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  

}


.humidity {
  font-family: 'Poppins', sans-serif;
  display: flex;

  gap: 20px;
  margin-top: 4rem;
}

.wind {
  font-family: 'Poppins', sans-serif;
  display: flex;

  gap: 20px;
  margin-top: 2rem;
}

.pressure {
  font-family: 'Poppins', sans-serif;
  display: flex;

  gap: 20px;
  margin-top: 2rem;
}





/* for galaxy fold */

@media(max-width: 320px){

  .location {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin-top: 2rem;
  margin-left: -5rem;
}

.blue-div {
  height: 11rem;
  width: 15.5rem;
  background-color: #A2DBFA;
  border-color: #A2DBFA;
  margin-top: 1rem;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);

}

.icon {
  

  width: 7rem;
  margin-left: 0rem;
  margin-top: 1rem;
  

}

.temp {
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
  color: #053742;
  font-size: 45px;
  margin-left: 9.5rem;
  margin-top: -6rem;
}

.max-and-min-temp {
  font-size: 14px;
  margin-left: 8rem;
}

.condition {
  margin-left: 1.5rem;
}

.extra-details {
  font-size: 14px;
  margin-top: -1rem;
}






}

/* for iphone 5 */

@media screen and (device-aspect-ratio: 40/71) {

  .location{
    margin-left: -5rem;
  }

  .blue-div {
  height: 11rem;
  width: 17rem;
  background-color: #A2DBFA;
  border-color: #A2DBFA;
  margin-top: 1rem;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);

}

.temp {
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
  color: #053742;
  font-size: 50px;
  margin-left: 11rem;
  margin-top: -7rem;
}

.icon {
  margin-left: 1rem;
}

.max-and-min-temp {
  font-size: 14px;
  margin-left: 9.5rem;
}

.condition {
  margin-left: 2rem;
}

.extra-details {
  font-size: 15px;
  margin-top: -1rem;
}


}

